body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background: radial-gradient(circle, #4facfe, #000);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    position: relative;
}

header {
    display: flex;

    justify-content: space-between;
    padding: 10px 20px;
    background-color: #020d1a;
    width: 100%;
    position: fixed;
    top: 0;

    z-index: 1000;
}

h1 {
    margin: 0;
    color: #fff;
}

nav {
    display: flex;
    gap: 15px;

}

nav a {
    text-decoration: none;
    color: #f5f5f5;
    font-size: 18px;
    padding: 10px;
    transition: color 0.3s ease, transform 0.3s ease;
}

nav a:hover {
    color: #fdc391;
    transform: scale(1.1);
}

.contact-container {
    max-width: 800px;
    width: 100%;
    padding: 20px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.contact-container h2 {
    font-size: 2.75em;
    margin-bottom: 20px;
    color: #d1ba7d;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.image-section {
    margin-top: 10px;
}

.image-section img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 1dvh solid hsl(205, 93%, 27%);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    max-width: 400px;
    margin-bottom: 30px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 20px;
    border: none;
    border-radius: 10px;
    font-size: 1em;
    background: rgba(186, 177, 177, 0.2);
    color: #ddacac;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: background 0.3s ease;
}

::placeholder {
    color: #ffffff;
    font-size: 20px;
}

.contact-form input:focus,
.contact-form textarea:focus {
    background: rgba(255, 255, 255, 0.3);
    outline: none;
}

.contact-form button {
    padding: 15px;
    border: none;
    border-radius: 8px;
    font-size: 1.5em;
    color: #fff;
    background: linear-gradient(to right, #ff6384, #36a2eb);
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.contact-form button:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.5);
}